In [13]:
import sys
sys.path.append('/home/qte4288/Projects/Tumor-Risk-Prediction/scripts')
from setup import create_experiment_folders, create_model_folders

In [18]:
import pandas as pd
import os
from IPython.display import display, HTML

In [15]:
# setup project directory
dir_base = '/data/qte4288/Tumor-Risk-Prediction/'

dir_data = os.path.join(dir_base, 'data/sample')
pth_metadata = os.path.join(dir_data, 'metadata.csv')

In [22]:
df_metadata = pd.read_csv(pth_metadata)
df_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   patient_id   18 non-null     object
 1   time         18 non-null     object
 2   scan_folder  18 non-null     int64
 3   label        18 non-null     bool
dtypes: bool(1), int64(1), object(2)
memory usage: 582.0+ bytes

In [23]:
df_metadata

   patient_id      time  scan_folder  label
0      PT0001  13-03-19            1   True
1      PT0001  13-03-20            2  False
2      PT0001  13-03-21            3  False
3      PT0001  13-03-22            4  False
4      PT0001  13-03-23            5   True
5      PT0001  13-03-24            6   True
6      PT0002  24-09-10            1   True
7      PT0002  24-09-11            2  False
8      PT0002  24-09-12            3  False
9      PT0002  24-09-13            4  False
10     PT0002  24-09-14            5   True
11     PT0002  24-09-15            6   True
12     PT0003  03-05-06            1   True
13     PT0003  03-05-07            2  False
14     PT0003  03-05-08            3  False
15     PT0003  03-05-09            4  False
16     PT0003  03-05-10            5   True
17     PT0003  03-05-11            6   True